/* App.css */
:root {
  /* ---- CENTRAL THEME CONTROLLER ---- */

  /* The Main Brand Color (e.g., Blue, Red, Green) */
  --mern-admin-primary: #407e18;

  /* The Sidebar Color (e.g., Dark Slate, Black, Navy) */
  --mern-admin-secondary: #1c460d;

  /* Background Color for the main area */
  --mern-admin-bg: #f6fbf2;

  /* Text Colors */
  --mern-admin-text-main: #1e293b; /* For cards/headings */
  --mern-admin-text-white: #ffffff; /* FORCED WHITE for Sidebar */

  /* UI Elements */
  --mern-admin-border: #d8e7cf;
  --mern-admin-danger: #ef4444;
}
